<% include ./partials/header %>

<div class="ui main text container">
  <div class="ui top attached segment">
    <div class="ui divided items">

      <% if(articles.length === 0) { %>
        <div class="ui header">No articles Found</div>
      <% } else { %>
        <% for(let i = 0; i < articles.length; i++) { var date = new Date(articles[i].updated_at).toDateString()%>
          <div class="item">
            <div class="image">
              <img src="<%= articles[i].image %>">
            </div>
            <div class="content">
              <a href="/articles/<%= i %>" class="header"><%= articles[i].title %></a>
              <div class="header right floated"><%= date %></div>
              <div class="description">
                <p><%- articles[i].description.substring(0, 100) %>...</p>
              </div>
              <div class="extra">
                <a href="/articles/<%= i %>" class="ui violet basic button">Read More <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        <% } %>
      <% } %>

    </div>
  </div>
</div>

<% include ./partials/footer %>
